.introduction{
    text-align: center;
    padding: 20px;
}
.introduction .content_item{
    height: 210px;
    position: relative;
    border: solid 2px black;
    cursor: pointer;
}
.introduction .content_item .hoverlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.introduction .content_item:hover .hoverlay{
    opacity: 1;
}
.introduction .content_item .title{
    color: white;
    font-size: 30px;
}
.introduction .content_item img{
    width: 100%;
    height: 100%;
}